---
    - name: Update yum
      yum:
        update_cache: yes
    - name: add epel repo
      yum:
        name: epel-release
        state: present
    - name: Install nginx
      yum:
        name: nginx
        state: present
    - name: Create nginx configuration directory
      file:
        path: /etc/nginx/conf.d
        state: directory
    - name: Send nginx load balancer configuration
      template:
        src: load_balancer.conf.j2
        dest: /etc/nginx/conf.d/load_balancer.conf
      vars:
        app1_ip: 10.26.0.140
        app2_ip: 10.26.0.87
    - name: accept traffic to 8080
      shell: firewall-cmd --zone=public --add-port=8080/tcp --permanent
    - name: reload firewall
      shell: firewall-cmd --reload
    - name: Restart nginx
      service: name=nginx state=restarted enabled=yes
