---
    - name: Update yum
      yum:
        update_cache: yes
    - name: Install NFS client package
      yum:
        name: nfs-utils
        state: present
    - name: install git
      yum:
        name: git
        state: present
    - name: Create mount point
      file:
        path: "{{ nfs_mount_point }}"
        state: directory
        owner: "{{ nfs_user }}"
        group: "{{ nfs_group }}"
        mode: 0557
    - name: allow firewall to 2049
      shell: firewall-cmd --zone=public --add-port=2049/tcp --permanent
    - name: allow firewall to gogs port
      shell: firewall-cmd --zone=public --add-port=3000/tcp --permanent
    - name: reload firewall
      shell: firewall-cmd --reload
    - name: Mount NFS share
      mount:
        path: "{{ nfs_mount_point }}"
        src: "{{ nfs_server_ip }}:{{ nfs_shared_dir }}"
        fstype: nfs
        state: mounted
        opts: rw,sync,hard,intr
    - name: delete past gogs
      file:
        path: /home/jenkins/gogs/gogs
        state: absent
    - name: install gogs
      copy:
        src: /home/user/gogs
        dest: /home/jenkins/gogs/gogs
    - name: change file owner and group to user
      file:
        path: /home/jenkins/gogs/gogs
        owner: jenkins
        group: jenkins
    - name: change gogs mod to 775
      file:
        path: /home/jenkins/gogs/gogs
        mode: 0557
    - name: create directory custom
      file:
        path: /home/jenkins/gogs/custom
        state: directory
    - name: create directory conf
      file:
        path: /home/jenkins/gogs/custom/conf
        state: directory
    - name: install gogs conf
      template: 
        src: app.ini.j2
        dest: /home/jenkins/gogs/custom/conf/app.ini
    - name: install gogs start script
      template:
        src: start-gogs.sh.j2
        dest: /home/jenkins/gogs/start-gogs.sh
    - name: change mode of script
      file:
        path: /home/jenkins/gogs/start-gogs.sh
        owner: jenkins
        group: jenkins
        mode: 0775
    - name: send gogs info to mariadb
      shell: /home/jenkins/gogs/start-gogs.sh
      async: 5
      poll: 0
    - name: start gogs
      shell: /home/jenkins/gogs/start-gogs.sh

