---
    - name: Update yum
      yum:
        update_cache: yes
    - name: Install NFS client package
      yum:
        name: nfs-utils
        state: present
    - name: Create mount point
      file:
        path: "{{ nfs_mount_point }}"
        state: directory
        owner: "{{ nfs_user }}"
        group: "{{ nfs_group }}"
        mode: 0775
    - name: Mount NFS share
      mount:
        path: "{{ nfs_mount_point }}"
        src: "{{ nfs_server_ip }}:{{ nfs_shared_dir }}"
        fstype: nfs
        state: mounted
        opts: rw,sync,hard,intr
    - name: install gogs
      copy:
        src: ~/gogs
        dest: ~/gogs
    - name: create directory custom
      file:
        path: ~/custom
        state: directory
    - name: create directory conf
      file:
        path: ~/custom/conf
        state: directory
    - name: install gogs conf
      template: 
        src: app.ini.j2
        dest: ~/custom/conf/app.ini
      vars:
        mariadb_ip: 10.26.0.57
