---
    - name: Update apt
      become: yes
      apt:
        update_cache: yes
        cache_valid_time: 86400
    - name: Install NFS server package
      apt:
        name: nfs-kernel-server
        state: present
    - name: Create shared directory
      file:
        path: "{{ nfs_shared_dir }}"
        owner: "{{ nfs_user }}"
        group: "{{ nfs_group }}"
        mode: 0775
        state: directory
    - name: Add shared directory to exports
      lineinfile:
        path: /etc/exports
        line: "{{ nfs_shared_dir }} {{ nfs_server_ip }}(rw,sync,no_subtree_check)"
        state: present
    - name: Restart NFS server
      service:
        name: nfs-kernel-server
        state: restarted

